@import url('https://themes.googleusercontent.com/fonts/css?kit=OPeqXG-QxW3ZD8BtmPikfA');
.lst-kix_wcq6htr2hvso-5>li:before {
    content: "\0025a0  "
}

.lst-kix_wcq6htr2hvso-4>li:before {
    content: "\0025cb  "
}

.lst-kix_wcq6htr2hvso-6>li:before {
    content: "\0025cf  "
}

.lst-kix_wcq6htr2hvso-2>li:before {
    content: "\0025a0  "
}

.lst-kix_wcq6htr2hvso-3>li:before {
    content: "\0025cf  "
}

.lst-kix_wcq6htr2hvso-1>li:before {
    content: "\0025cb  "
}

.lst-kix_wcq6htr2hvso-0>li:before {
    content: "\0025cf  "
}

.lst-kix_9k8susehf0qn-5>li:before {
    content: "\0025a0  "
}

.lst-kix_9k8susehf0qn-7>li:before {
    content: "\0025cb  "
}

.lst-kix_9k8susehf0qn-2>li:before {
    content: "\0025a0  "
}

.lst-kix_9k8susehf0qn-6>li:before {
    content: "\0025cf  "
}

.lst-kix_8v7s0ed04k9z-8>li:before {
    content: "\0025a0  "
}

.lst-kix_8v7s0ed04k9z-7>li:before {
    content: "\0025cb  "
}

.lst-kix_9k8susehf0qn-3>li:before {
    content: "\0025cf  "
}

.lst-kix_9k8susehf0qn-4>li:before {
    content: "\0025cb  "
}

.lst-kix_wcq6htr2hvso-8>li:before {
    content: "\0025a0  "
}

.lst-kix_wcq6htr2hvso-7>li:before {
    content: "\0025cb  "
}

.lst-kix_9k8susehf0qn-8>li:before {
    content: "\0025a0  "
}

.lst-kix_d7jz7pfyotz5-0>li:before {
    content: "\0025cf  "
}

.lst-kix_d7jz7pfyotz5-1>li:before {
    content: "\0025cb  "
}

.lst-kix_d7jz7pfyotz5-2>li:before {
    content: "\0025a0  "
}

ul.lst-kix_9k8susehf0qn-3 {
    list-style-type: none
}

ul.lst-kix_9k8susehf0qn-2 {
    list-style-type: none
}

ul.lst-kix_9k8susehf0qn-1 {
    list-style-type: none
}

ul.lst-kix_9k8susehf0qn-0 {
    list-style-type: none
}

.lst-kix_8v7s0ed04k9z-0>li:before {
    content: "\0025cf  "
}

.lst-kix_d7jz7pfyotz5-4>li:before {
    content: "\0025cb  "
}

ul.lst-kix_d7jz7pfyotz5-5 {
    list-style-type: none
}

ul.lst-kix_9k8susehf0qn-7 {
    list-style-type: none
}

ul.lst-kix_d7jz7pfyotz5-4 {
    list-style-type: none
}

ul.lst-kix_9k8susehf0qn-6 {
    list-style-type: none
}

.lst-kix_8v7s0ed04k9z-1>li:before {
    content: "\0025cb  "
}

.lst-kix_d7jz7pfyotz5-3>li:before {
    content: "\0025cf  "
}

ul.lst-kix_d7jz7pfyotz5-3 {
    list-style-type: none
}

.lst-kix_d7jz7pfyotz5-5>li:before {
    content: "\0025a0  "
}

ul.lst-kix_9k8susehf0qn-5 {
    list-style-type: none
}

ul.lst-kix_d7jz7pfyotz5-2 {
    list-style-type: none
}

ul.lst-kix_9k8susehf0qn-4 {
    list-style-type: none
}

ul.lst-kix_d7jz7pfyotz5-8 {
    list-style-type: none
}

ul.lst-kix_d7jz7pfyotz5-7 {
    list-style-type: none
}

ul.lst-kix_d7jz7pfyotz5-6 {
    list-style-type: none
}

ul.lst-kix_9k8susehf0qn-8 {
    list-style-type: none
}

.lst-kix_8v7s0ed04k9z-4>li:before {
    content: "\0025cb  "
}

.lst-kix_d7jz7pfyotz5-8>li:before {
    content: "\0025a0  "
}

.lst-kix_8v7s0ed04k9z-3>li:before {
    content: "\0025cf  "
}

.lst-kix_8v7s0ed04k9z-5>li:before {
    content: "\0025a0  "
}

.lst-kix_d7jz7pfyotz5-7>li:before {
    content: "\0025cb  "
}

.lst-kix_8v7s0ed04k9z-2>li:before {
    content: "\0025a0  "
}

.lst-kix_8v7s0ed04k9z-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_d7jz7pfyotz5-1 {
    list-style-type: none
}

.lst-kix_d7jz7pfyotz5-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_d7jz7pfyotz5-0 {
    list-style-type: none
}

.lst-kix_9k8susehf0qn-1>li:before {
    content: "\0025cb  "
}

.lst-kix_9k8susehf0qn-0>li:before {
    content: "\0025cf  "
}

ul.lst-kix_wcq6htr2hvso-8 {
    list-style-type: none
}

ul.lst-kix_8v7s0ed04k9z-1 {
    list-style-type: none
}

ul.lst-kix_wcq6htr2hvso-6 {
    list-style-type: none
}

ul.lst-kix_8v7s0ed04k9z-0 {
    list-style-type: none
}

ul.lst-kix_wcq6htr2hvso-7 {
    list-style-type: none
}

ul.lst-kix_8v7s0ed04k9z-3 {
    list-style-type: none
}

ul.lst-kix_wcq6htr2hvso-4 {
    list-style-type: none
}

ul.lst-kix_8v7s0ed04k9z-2 {
    list-style-type: none
}

ul.lst-kix_wcq6htr2hvso-5 {
    list-style-type: none
}

ul.lst-kix_8v7s0ed04k9z-5 {
    list-style-type: none
}

ul.lst-kix_wcq6htr2hvso-2 {
    list-style-type: none
}

ul.lst-kix_8v7s0ed04k9z-4 {
    list-style-type: none
}

ul.lst-kix_wcq6htr2hvso-3 {
    list-style-type: none
}

ul.lst-kix_8v7s0ed04k9z-7 {
    list-style-type: none
}

ul.lst-kix_wcq6htr2hvso-0 {
    list-style-type: none
}

ul.lst-kix_8v7s0ed04k9z-6 {
    list-style-type: none
}

ul.lst-kix_wcq6htr2hvso-1 {
    list-style-type: none
}

ul.lst-kix_8v7s0ed04k9z-8 {
    list-style-type: none
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c12 {
    margin-left: 0pt;
    padding-top: 0pt;
    list-style-position: inside;
    text-indent: 45pt;
    padding-bottom: 13pt;
    line-height: 1.7142857142857142;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c10 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 13pt;
    line-height: 1.7142857142857142;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c9 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 32pt;
    font-family: "Encode Sans'";
    font-style: normal
}

.c16 {
    -webkit-text-decoration-skip: none;
    color: #448aff;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    font-size: 13pt;
    font-family: "Encode Sans'"
}

.c0 {
    color: #434343;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 18pt;
    font-family: "Encode Sans'";
    font-style: normal
}

.c11 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 13pt;
    font-family: "Encode Sans'";
    font-style: normal
}

.c1 {
    color: #616161;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 13pt;
    font-family: "Encode Sans'";
    font-style: normal
}

.c14 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 20pt;
    font-family: "Encode Sans'";
    font-style: normal
}

.c2 {
    padding-top: 0pt;
    padding-bottom: 13pt;
    line-height: 1.6363636363636365;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c18 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c17 {
    padding-top: 0pt;
    padding-bottom: 13pt;
    line-height: 1.7142857142857142;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c8 {
    padding-top: 20pt;
    padding-bottom: 13pt;
    line-height: 1.6363636363636365;
    page-break-after: avoid;
    text-align: left
}

.c15 {
    padding-top: 20pt;
    padding-bottom: 13pt;
    line-height: 1.6363636363636365;
    page-break-after: avoid;
    text-align: left
}

.c5 {
    font-size: 13pt;
    font-family: "Encode Sans'";
    color: #616161;
    font-weight: 400
}

.c7 {
    padding-top: 32pt;
    padding-bottom: 20pt;
    line-height: 1.0588235294117647;
    text-align: left
}



.c4 {
    padding: 0;
    margin: 0
}

.c6 {
    color: inherit;
    text-decoration: inherit
}

.c13 {
    height: 13pt
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 28pt;
    padding-bottom: 3pt;
    font-family: 'Nanum Gothic',
    sans-serif;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 20pt;
    font-family: "Nanum Gothic";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 13pt;
    font-family: "Encode Sans'"
}

p {
    margin: 0;
    color: #000000;
    font-size: 13pt;
    font-family: "Encode Sans'"
}

h1 {
    padding-top: 32pt;
    color: #000000;
    font-size: 32pt;
    padding-bottom: 6pt;
    font-family: "Nanum Gothic";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Nanum Gothic";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
    margin-top:0px;
}

h3 {
    padding-top: 20pt;
    color: #434343;
    font-size: 18pt;
    padding-bottom: 4pt;
    font-family: "Nanum Gothic";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
     margin-top:0px;
}

h4 {
    padding-top: 18pt;
    color: #666666;
    font-size: 13pt;
    padding-bottom: 4pt;
    font-family: "Nanum Gothic";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 13pt;
    color: #666666;
    font-size: 13pt;
    padding-bottom: 4pt;
    font-family: "Nanum Gothic";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 13pt;
    color: #666666;
    font-size: 13pt;
    padding-bottom: 4pt;
    font-family: "Nanum Gothic";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}
h1 {margin-top:0px;}
.stable_height2 {
    max-height: 220px;
    width: auto;
    margin-top: 15px;
    margin-bottom: -20px;
}